.checkbox-button {
    position: relative;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid var(--ttrpg-ui-color-border-active);
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: var(--ttrpg-ui-color-bg-secondary);
    transition: background-color 0.1s ease;
    padding: 0;
    margin: 0;
}

.checkbox-button[aria-pressed="true"] {
    background-color: var(--ttrpg-ui-color-border-active);
}

.checkbox-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--ttrpg-ui-color-border-focus);
}
